<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655028667667-5eg8lpei2482haqf58jiscu5unl85caf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655028667667-5eg8lpei2482haqf58jiscu5unl85caf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655028667667-p40s24lvg2d7g5k8igvt340ihntrdf67.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOoN1XjwV1PunQ1iMvbs4wm0upCBjz5GI</string>
	<key>GCM_SENDER_ID</key>
	<string>655028667667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamsmk.notifyMe</string>
	<key>PROJECT_ID</key>
	<string>notifyme-82b34</string>
	<key>STORAGE_BUCKET</key>
	<string>notifyme-82b34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655028667667:ios:9dd99edda80567d04e06e6</string>
</dict>
</plist>